body {
    height: 100vh;
    background-color: aliceblue;
}

#messages {
    height: 400px;
    overflow-y: scroll;
}

.win {
    background: #f8f8f8;
}

#emotes {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.emote:hover {
    cursor: pointer;
}